:root {
  --color-white: #FFFFFF;
  --color-green: #446546;
  --color-text: #000000;
  --robm: Roboto-Medium, sans-serif;
  --robr: Roboto-Regular, sans-serif;
  --montm: Montserrat-Medium, sans-serif;
  --montr: Montserrat-Regular, sans-serif;
}